html
{
   height:101%; /*always show the right scroll bar*/
   font-size: 100%
}

body
{
   /*
    * To use a 12px font size on the page, delete the 14px declarations.
    * to use a 14px font size on the page, delete the 12px declarations.
   */

   /* Use a 12px base font size with a 16px line height */
   /* font-size: 0.75em; /* 16px x .75 = 12px */
   /* line-height: 1.333em; /* 12px x 1.333 = 16px */

   /* Use a 14px base font size with a 18px line height */
   font-size: 0.875em; /* 16px x .875 = 14px */
   line-height: 1.286em; /* 14px x 1.286 = 18px */
   margin: 0;
   padding: 0;
   font-family: Tahoma, Geneva, Helvetica, Arial, Verdana, "Bitstream Vera Sans", sans-serif, 宋体, SimSun;
   background-color: #E1F5A9;
}

#page_header,
#page_body,
#page_footer
{
   /*
    * If you want to make the page a fixed width and centered in the viewport,
    * this is the standards-compliant way to do that. See also the ie.css file
    * for the necessary IE5 hack to center a div.
   */
   margin-left: auto;
   margin-right: auto;
   width: 1000px;
   position: relative;
   /*border-left: 1px solid #8ACC26;
   border-right: 1px solid #8ACC26;*/
}

#page_header,
#page_body
{
   background: #ffffff;
}

/* tab navigation */
ul.tabs
{
   border-bottom: 1px solid #BBBBBB;
   border-collapse: collapse;
   height: auto;
   line-height: normal;
   list-style: none outside none;
   margin: 5px;
   padding: 0 0 0 1em;
   white-space: nowrap;
}

ul.tabs li
{
   display: inline;
   background-color: #DDDDDD;
   border-color: #BBBBBB;
   border-style: solid;
   border-width: 1px;
   margin: 0 2px;
}
ul.tabs li:hover {
   background-color: #EEEEEE;
   border-color: #CCCCCC;
   border-bottom-color: #EEEEEE;
}

ul.tabs li.active
{
   background-color: #FFFFFF;
   border-color: #BBBBBB #BBBBBB #FFFFFF;
   border-style: solid;
   border-width: 1px;
}

ul.tabs li a {
   height: auto;
   margin-right: 0.5em; /* LTR */
   padding: 0 1em;
   text-decoration: none;
}


ul.tabs li.active a {
   color: #000000;
}

/*pager*/
ul.pager {
   clear: both;
   text-align: center;
}
ul.pager li {
   background-image:none;
   display:inline;
   list-style-type:none;
   padding: 0.5em;
}
ul.pager li.pageActive a {
   font-weight:bold;
   background-color: #aaaaaa;
   border: 1px solid #888888;
}

/*form*/
div.form_element
{
   clear: both;
   position: relative;
   padding: 5px 0;
}

div.element_label
{
   float: left;
   width: 150px;
   text-align: right;
}

div.element_input
{
   margin-left: 160px;
}

input,
textarea
{
   border: 1px solid #006;
   background: #ffc;
   margin: 0 7px 0 2px;
   padding: 1px;
}
input:hover,
textarea:hover
{
   border-color: orange;
   background: #FFFFFF;
}
button,
a.button
{
   -webkit-box-shadow: rgba(0, 0, 0, 0.0.97) 0px 1px 0px 0px;
   background-color: #5B74A8;
   border: 1px solid #29447E;
   font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
   /*font-size: 14px;
   line-height: 18px;*/
   padding: 1px 3px;
   margin: 0 2px;
   color: #fff;
   border-radius: 5px;
}
button:hover,
a.button:hover
{
   border: 1px solid #000000;
}
/*
button {
    margin: 0 2px;
    border: 1px solid #006;
    background: #ccf;
}
button:hover {
    border: 1px solid #f00;
    background: #FFFFFF;
}*/
.element_required,
.element_help
{
   font-weight: bold;
}
.element_required
{
   color: #CC0000;
}
.element_help
{
   color: #00CC00;
}

.clear-block {
   display: block;
   clear: both;
}

.hidden,
[data-urole],
[data-umode]
{
   display: none;
}

img {
   border: 0 none;
}

/*even_odd*/
.even
{
   background:none repeat scroll 0 0 #EEEEEE;
}
.odd
{
   background:none repeat scroll 0 0 #FFFFFF;
}


/*pm*/
ul.pm_thread
{
   list-style-type: none;
}

ul.pm_thread li
{
   display: block;
   overflow: hidden;
   position: relative;
   clear: both;
}
ul.pm_thread li div.pm_avatar,
ul.pm_thread li div.pm_info,
ul.pm_thread li div.pm_body
{
   float: left;
}
ul.pm_thread li div.pm_info
{
   text-align: right;
   width: 120px;
   padding: 3px 5px;
}
ul.pm_thread li div.pm_body
{
   width: 640px;
   padding: 3px 5px;
}

/*actions*/
div.ed_actions
{
   position: absolute;
   bottom: 5px;
   right: 5px;
}

/*avatar*/
img.avatar
{
   display: block;
   padding: 2px;
}

/*front-items*/
.front-items{
   clear:both;
   overflow: hidden;
}
.front-items .item-list{
   width:33%;
   overflow:hidden;
   float:left;
}
.front-items .item-list h2{
   margin:0;
   padding:2px 4px;
   background-color:#7FBDEF;
}
.front-items .item-list ul{
   margin:0;
   margin-bottom:10px;
   /*border:0px solid #DDD;
   border-top:0;*/
}
.front-items .item-list ul li
{
   overflow:hidden;
   white-space:nowrap;
   padding:2px 8px;
   border-bottom:1px dashed #CCC;
}

.front-items .item-list ul li span.li_right
{
   float:right;
   color:#333;
   padding-left:5px;
}
/*dt,dd*/
dt,dd
{
   display: block;
   float: left;
   margin: 0;
   padding: 3px;
}
dt
{
   width: 100px;
   clear: left;
   text-align: right;
   color: #29447E;
}
dd
{
   float: left;
}

/*user*/
div.avatar_div
{
   float:left;
   text-align: center;
}
dl
{
   float:left;
}
div.user_recent_topics
{
   clear: both;
}

div.user_recent_topics table
{
   width: 480px;
   margin: 10px;
   float: left;
}









.block ul, /* Drupal overrides */
.item-list ul
{
   margin: 0.5em 0;
   padding: 0;
   list-style-type: none;
}

li
{
   margin: 0;
   padding: 0;
}

.item-list ul li /* Drupal override */
{
   margin: 0;
   padding-left: 10px;
   padding-right: 4px;
   list-style: inherit;
}









/***/
pre.debug,
pre.message
{
   background-color: #000000;
   color: #ffffff;
   margin: 1px 0px;
   padding: 3px;
}

div.form_row
{
   clear: both;
   padding: 2px;
}

div.form_row div.form_label
{
   float: left;
   width: 100px;
   margin-right: 10px;
   text-align: right;
}

div.form_row div.form_data
{
   margin-left: 110px;
}

#copyright {
   color: #555555;

   padding: 10px;
   text-align: center;
}
/*
  a:link
  {
                color:#105289;
                text-decoration:none;
  }

  a:visited
  {
                color:#105289;
                text-decoration:none;
  }

  a:hover,
  a:focus
  {
  }

  a:active
  {
  }
*/
#navbar {
   /*  float: left;*/
   height: 28px;
   margin-left: 0;
   margin-right: -100%;
   padding: 0;
   width: 100%;
   clear:both;
   background-color: #8ACC26;
}

#navbar_user {
   float: right;
}

#navbar_user li {
   height: 26px;
}

#navbar_user label,
#navbar_user input {
   display: block;
   float: left;
   line-height: 18px;
   padding: 4px 5px;
}

#navbar_user label
{
   color: #105289;
}

#navbar_user input {
   margin: 2px;
   padding: 1px;
   vertical-align:middle;
   border: 1px solid #999999;
}

#navbar_user input.form-text {
   width:66px;
}

#navbar_user input.form-submit
{
   background-color: transparent;
   color: #105289;
   font-family: Tahoma,Geneva,Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif,宋体,SimSun;
   font-size: 1em;
   border: 0px;
   margin: 0px;
   padding: 4px 5px;
}

/* added by ikki for the inline login bar */
#navbar #user-login-form
{
   float:right;
   border-top: 1px solid #8ACC26;
   border-bottom: 1px solid #8ACC26;
   background-color:#D6FF97;
   line-height: 26px;
   padding: 0 5px;
}
#navbar #user-login-form .form-item,
#navbar #user-login-form .item-list
{
   float: left;
   line-height:26px;
   margin: 0;
}
#navbar #user-login-form .form-item label
{
   display: inline;
   float: left;
   font-weight: normal;
   padding: 0 0 0 3px;
}
#navbar #user-login-form .form-item label span
{
   display: none;
}
#navbar #user-login-form .form-item input.form-text
{
   display: block;
   height: 16px;
   padding: 2px;
   border: 1px solid #999999;
   margin: 2px 3px;
   float: left;
   vertical-align:middle;
   width:66px;
}
#navbar #user-login-form input.form-submit
{
   display: block;
   height: 22px;
   padding: 1px 3px;
   border: 1px solid #999999;
   margin: 2px 3px;
   font-size: 1em;
   line-height: 20px;
   font-weight:normal;
   float: left;
   vertical-align:middle;
}
#navbar #user-login-form .item-list li
{
   padding: 0 0 0 5px;
}
/* END added by ikki for the inline login bar */

#navbar li {
   float: left;
}

.item-list ul li {
   list-style: inherit;
   margin: 0;
   padding-left: 10px;
   padding-right: 4px;
}

.block ul, .item-list ul {
   list-style-type: none;
   margin: 0.5em 0;
   padding: 0;
}

#navbar ul {
   margin: 0;
   padding: 0;
   text-align: left;
}

