$font-color: #333;
$bg-color: #eeeedc;

$transform-time: 0.3s;
$line-height: 1.5;

$content-width: 768px;
$nav-height: 3.5rem;

$phone: "(max-width: 767px)";
$tablet: "(min-width: 768px)";

/* font */
html {
   color: $font-color;
   line-height: $line-height;
}

a {
   text-decoration: none;
   color: #2962FF;
}

h1, h2, h3 {
   margin: 0;
   padding: 0.5em 0;
}

article {
   > * {
      padding: 2rem;
      text-align: center;
      clear: both;
   }
   > *:nth-child(even) {
      background-color: $bg-color;
   }

   > * > * {
      margin: 0 auto;
   }

   @media #{$tablet} {
      > * > * {
         width: 736px;
         margin: 0 auto;
      }
   }

   header {
      padding-top: 3rem + $nav-height;
      padding-bottom: 3rem;
      text-align: center;
      color: white;
      background-image: url(/geekpush/image/bg.jpg); 
      background-color: transparent; 
      background-size: cover;
      background-position: 50% 50%; 
      background-repeat: no-repeat;

      div.nav {
         position: fixed;
         top: 0;
         left: 0;
         padding: 0;
         background-color: white;

         @media #{$phone} {            
            border-right: 1px solid $bg-color;
            width: 200px;
            left: -201px;
         }

         @media #{$tablet} {
            width: 100%;
            height: 3.5rem;
            text-align: center;            
            border-bottom: 1px solid $bg-color;
         }

         nav {
            @media #{$tablet} {
               display: inline-block;
            }
         }

         img {
            display: inline-block;
            height: 2.5rem;
            padding: 0.5em;

            @media #{$phone} {
               display: block;
               position: fixed;
               top: 0;
               left: 0;
               background-color: $bg-color;
               cursor: pointer;
            }

            @media #{$tablet} {
               position: initial;
            }
         }

         a {
            display: block;            
            padding: 1.2rem 1rem 0.8rem;
            @media #{$phone} {
               border-bottom: 1px solid $bg-color;
            }

            @media #{$tablet} {
               float: left;
               border-right: 1px solid $bg-color;
            }
         }

         a.active, a:hover {
            background-color: $bg-color;
         }
      }
   }


   section div.text-image {
      padding: 1rem 0;
      > p, > img {
         display: block;
         width: 100%;
      }
      > p {
         text-align: left;
      }


      @media #{$tablet} {
         > p, > img {
            display: inline-block;
            vertical-align: middle;
         }
         > p {
            box-sizing: border-box;
            width: 40%;
            padding-right: 0.5rem;
         }
         > img {
            width: 60%
         }
      }
   }

   section div.card {
      margin: 1rem;
      padding: 1rem;
      background-color: white;
      border: 1px solid darken($bg-color, 20%);
      border-radius: 5px;

      @media #{$tablet} {
         display: inline-block;
         box-sizing: border-box;
         width: 40%;
      }
      
      @media #{$phone} {
         p, img {
            width: 100%;
         }
      }
   }

   footer {
      padding: 4rem 0;
   }
}