<div ng-bind-html="navbar"></div>
<article ng-repeat="message in messages">      
   <header><a href="/user/{{message.uid}}">{{message.username}}</a> {{message.time * 1000| date: 'MM/dd/yyyy'}}</header>
   <div class="article_content" style="white-space: pre-wrap;">{{message.body}} <button ng-click="deletePM($index)">删除<span ng-if="$first">对话</span></button></div>
</article>
<form accept-charset="UTF-8" autocomplete="off" ng-submit="reply()">
   <fieldset>
      <label class="label">收信人</label>{{replyTo.username}}
   </fieldset>
   <fieldset>
      <label class="label" data-help="最少5个字母或3个汉字">回复内容</label><textarea required ng-model="replyBody"></textarea>
   </fieldset>
   <input name="topicMID" value="{{topicMID}}" type="hidden">
   <input name="toUID" value="{{replyTo.id}}" type="hidden">
   <fieldset><button type="submit">发送</button></fieldset>
</form>
