.imgCropper				{ text-align: center; position: relative; border: 0; display: inline-block; }
.imgCropper img.bg-image		{z-index: auto; float:left /* HACK for not scrolling*/; }
.imgCropper > input[type=file]	{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; opacity: 0; cursor: pointer; z-index:2; border: 0; height: 100% /* IE HACK*/ }
.imgCropper .crop-window		{ overflow: hidden; position: absolute; top:0; bottom: 0; left: 0; right: 0; z-index: 10; background-color: #eeeeee; text-align: left;}
.imgCropper img.fg-image		{ cursor: move; }
.imgCropper .tools			{ z-index: 999; display: inline-block; }
.imgCropper .tools > button	{ margin: 0 0 0 2px; padding: 1px; font-size: 1rem;}
.imgCropper button.crop         { background-color: #5cb85c; border-color: #4cae4c; }
.imgCropper button.crop:hover   {background-color: #449d44; border-color: #398439; }
.imgCropper button.reset        { background-color: #d9534f; border-color: #d43f3a; }
.imgCropper button.reset:hover  { background-color: #c9302c; border-color: #ac2925; }
