<div ng-bind-html="navbar"></div>
<form accept-charset="UTF-8" autocomplete="on" ng-submit="sendUsername()">
   <fieldset><label class="label" data-help="输入您注册时使用的电子邮箱地址">注册邮箱</label><input size="22" name="email" type="email" ng-model="email" required autofocus></fieldset>
   <fieldset><label class="label">下边图片的内容是什么？</label>
      <input name="captcha" type="text" ng-model="captcha" required>
      <br><img alt="图形验证未能正确显示，请刷新" ng-src="{{captchaURI}}">
      <a ng-click="updateCaptcha()">看不清，换一张</a>
   </fieldset>
   <fieldset><button type="submit">发送您的用户名</button></fieldset>
</form>
