<div ng-bind-html="navbar"></div>
<h2>通过安全验证码来设置您的账户密码</h2>
<form accept-charset="UTF-8" autocomplete="off" ng-submit="setPassword()">
   <fieldset><label class="label oldpassword">安全验证码</label><input name="identCode" type="text" ng-model="identCode" required autofocus><a ng-click="requestIdentCode()"> 未收到？重新发送</a></fieldset>
   <fieldset><label class="label">密码</label><input name="password" type="password" ng-model="password" required></fieldset>
   <fieldset><label class="label">确认密码</label><input name="password2" type="password"ng-model="password2" required></fieldset>
   <fieldset><button type="submit">保存密码</button></fieldset>
</form>