.message_list section {
  display: flex;
  align-items: flex-start;
  padding: 0.25rem 0;
}

.message_list section > div:first-child {
  margin: 0 0.25rem;
}

.message_list section > div:nth-child(2) {
  max-width: 72%;
  padding: 0 0.5rem;
}

.message_list section header {
  background-color: wheat;
  padding: 1px 1px 0 4px;
  margin-bottom: 1px;
}

.message_list header > :not(:last-child) {
  margin-right: 0.25rem;
}

.message_list p {
  margin: 0.25rem 0 0;
  white-space: pre-line;
}

.message_list .flex_right {
  flex-direction: row-reverse;
}
