.topic_list > div,
.topic_list > div > * {
  display: flex;
  align-items: center;
}

.topic_list span,
.topic_list a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topic_list > div > * {
  padding: 0.125rem;
}

.topic_list > div > :first-child svg:first-child {
  margin-right: 0.125rem;
}

@media (max-width: 767px) {
  .topic_list > div {
    flex-wrap: wrap;
  }

  .topic_list > div > :first-child {
    width: 100%;
  }

  .topic_list > div > :nth-child(2) {
    margin-left: calc(24px + 0.125rem);
  }
}

@media (min-width: 768px) {
  .topic_list > div {
    flex-wrap: nowrap;
  }

  .topic_list > div > :first-child {
    flex-grow: 1;
  }

  .topic_list > div > * {
    min-width: 135px;
  }
}
