fieldset {
  box-sizing: border-box;
  padding-left: 30%;
  position: relative;
  line-height: 23px;
  display: block;
  clear: both;
  margin: 0;
  border: 0;
}

fieldset label {
  box-sizing: border-box;
  width: 30%;
  text-align: right;
  padding: 0.2em 0.5em 0.2em 0.2em;
  position: absolute;
  left: 0;
  top: 0;
}
