/* Small devices (tablets, 768px) and up */
@media (min-width: 768px)
{
   div#logo_div {
      position: relative;
   }

   /* BEGIN HOME PAGE */
   div.image_slider
   {
      display: inline-block;
      vertical-align: top;
      height: 250px;
      width: 50%;
   }
   div.image_slider > a
   {
      padding-bottom: 250px;
   }

   section.items
   {
      display: inline-block;
      vertical-align: top;
      width: 50%;
   }
   /* END HOME PAGE */
}

/* 
 * Medium devices (desktops, 1024px) and up
 * width: (1024 - 28) px scrollbar, 3-column layout
 */
@media (min-width: 996px)
{  
   /* BEGIN HOME PAGE */
   div.image_slider
   {
      display: inline-block;
      vertical-align: top;
      height: 250px;
      width: 50%;
   }
   div.image_slider > a
   {
      padding-bottom: 250px;
   }

   section.items
   {
      display: inline-block;
      vertical-align: top;
      width: 50%;
   }
   /* END HOME PAGE */
}



/* 
 * Large devices (large desktops, 1280px) and up)
 * width: (1280 - 32) px, count scrollbar, 4-column layout
 */

@media (min-width: 1248px)
{
   /* BEGIN HOME PAGE */
   div.image_slider
   {
      display: inline-block;
      vertical-align: top;
      height: 250px;
      width: 25%;
   }
   div.image_slider > a
   {
      padding-bottom: 250px;
   }

   section.items
   {
      display: inline-block;
      vertical-align: top;
      width: 25%;
   }
   /* END HOME PAGE */
}

