@font-face {
  font-family: 'Waiting for the Sunrise';
  font-style: normal;
  font-weight: 400;
  src: local('Waiting for the Sunrise'), local('WaitingfortheSunrise'), url(http://themes.googleusercontent.com/static/fonts/waitingforthesunrise/v5/eNfH7kLpF1PZWpsetF-hawhNokzbzq3DXZOMIjhroK4.ttf) format('truetype');
}
