html, body { border: 0; margin: 0; padding: 0; }
body
{
   /* Use a 14px base font size with a 18px line height */
   font-size: 0.875em; /* 16px x .875 = 14px */
   line-height: 1.286em; /* 14px x 1.286 = 18px */
   font-family: Tahoma, Geneva, Helvetica, Arial, Verdana, "Bitstream Vera Sans", sans-serif, 宋体, SimSun;
   /* font: 0.875em Tahoma,Geneva,Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif,宋体,SimSun; */
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default */
div#page
{
}

div#ad
{
   display: none;
}

div#logo
{
   display: inline-block;
   height: 30px;
   width: 30px;
   overflow: hidden;
   vertical-align: baseline;
}

div#logo img
{
   margin: 0;
   padding: 0;
   height: 30px;
   width: 30px;
}

div#slogan
{
   display: inline-block;
   height: 30px;
   overflow: hidden;
   vertical-align: baseline;

   color: hotpink; 
   font-family: 'Waiting for the Sunrise';
   font-size: 24px;
   line-height: 30px;
   font-weight: bolder;
}
