/* 
 * Large devices (large desktops, 1280px) and up)
 * width: (1280 - 32) px, count scrollbar, 4-column layout
 */

@media (min-width: 1248px)
{
   /* BEGIN ALL PAGES */
   div#page {
      width: 1248px;
      margin: auto;
   }
   /* END ALL PAGES */

   /* BEGIN HOME PAGE */
   div#home_images
   {
      width: 948px;
   }

   section.home_activities li.activity_now:after
   {
      background-color: greenyellow;
   }

   section.home_activities li.activity_future:after
   {
      background-color: gold;
   }
   /* END HOME PAGE */

   /* BEGIN FORUM TOPIC LIST PAGE */
   /* show all columns */
   table.forum-topics tr > *:nth-child(2),
   table.forum-topics tr > *:nth-child(3)
   {
      width: 25%;
   }

   table.forum-topics tr > *:nth-child(4)
   {
      display: table-cell;
      width: 10%;
   }
   /* END FORUM TOPIC LIST PAGE */

   /* BEGIN YP BCARD */
   .bcard
   {
      width: 33%;
   }
   /* END YP BCARD */

   /* BEGIN PAGE HEADER AD */
   #page_header_ad span:first-child
   {
      width: 312px;
      height: 90px;
   }
   #page_header_ad span:last-child
   {
      width: 936px;
      height: 120px;
   }
   #page_header_ad span:last-child a
   {
      width: 468px;
      height: 60px;
   }
   #page_header_ad span:first-child a img
   {
      width: 272px;
      height: 90px;
   }
   /* END PAGE HEADER AD */
}