/* Small devices (tablets, 768px) and up */
@media (min-width: 768px)
{
   /* BEGIN ALL PAGES */
   body
   {
      /* Use a 14px base font size with a 18px line height */
      font-size: 0.875em; /* 16px x .875 = 14px */
      line-height: 1.286em; /* 14px x 1.286 = 18px */
   }

   div#logo
   {
      height: 60px;
      width: 60px;
   }

   div#logo img
   {
      height: 60px;
      width: 60px;
   }

   /* BEGIN RESPONSIVE TABLE */
   table
   {
      width: 100%;
   }

   thead
   {
      background: #7fbdef;
   }
   /* END RESPONSIVE TABLE */

   /* BEGIN RESPONSIVE FORM */
   textarea
   { 
      box-sizing: border-box;
      width: 600px;
      height: 450px;
   }
   /* END RESPONSIVE FORM */

   /* END ALL PAGES */

   /* BEGIN HOME PAGE */
   section.items
   {
      vertical-align: top;
      display: inline-block;
      width: 50%;
   }
   /* END HOME PAGE */

   /* BEGIN FORUM TOPIC LIST PAGE */
   /* only show first 2 columns */
   table.forum-topics td 
   {
      display: table-cell;
      border: none;
   }

   table.forum-topics td:first-child
   {
      display: table-cell;
      width: 60%;
      overflow: hidden;
   }

   table.forum-topics td:first-child:before 
   {
      display: none;
   }

   table.forum-topics tr.topic-sticky td:first-child:before
   {
      display: inline-block;
      content: '置顶';
      padding: 0.3em;
      padding-left: 0;
   }

   table.forum-topics th:nth-child(3),
   table.forum-topics td:nth-child(3),
   table.forum-topics th:last-child,
   table.forum-topics td:last-child
   {
      display: none;
   }
   /* END FORUM TOPIC LIST PAGE */
}
