html, body { border: 0; margin: 0; padding: 0; }
body
{
   /* Use a 14px base font size with a 18px line height */
   font-size: 0.875em; /* 16px x .875 = 14px */
   line-height: 1.286em; /* 14px x 1.286 = 18px */
   font-family: Tahoma, Geneva, Helvetica, Arial, Verdana, "Bitstream Vera Sans", sans-serif, 宋体, SimSun;
   /* font: 0.875em Tahoma,Geneva,Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif,宋体,SimSun; */
}

header, nav, section, article, aside, footer, div
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

a
{
   color: #105289;
   text-decoration: none;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default */
div#page
{
}

a#logo
{
   display: inline-block;
   vertical-align: bottom;
}

a#logo img
{
   width: 30px;
   height: 30px;
   vertical-align: bottom;
}

header#page_header span#messagebox 
{
   display: inline-block;
   padding: 0.5em;
   vertical-align: bottom;
}

header#page_header ul
{
   list-style: none;
   display: inline-block;
   margin: 0;
   padding: 0.5em;
   vertical-align: bottom;
   float: right;
}

header#page_header ul li
{
   display: inline-block;
   vertical-align: bottom;
}

section#page_body
{
   clear: both;
}

div.image_slider
{
   background-size: cover;
   background-position-y: center;
}

div.image_slider a
{
   display: block;
   width: 100%;
   height: 0;
   padding-bottom: 30%;
   background-size: cover;
   background-position-y: center;
}
section.items header
{
   margin: 0;
   padding: 2px 4px;
   background-color: #7fbdef;
   font-weight: normal;
}

section.items ul
{
   list-style: none;
   margin: 0;
   padding: 0;
}

section.items ul li
{
   overflow: hidden;
   white-space: nowrap;
   padding: 2px 8px;
   border-bottom: 1px dashed #CCC;
}

.even_odd_parent > *:nth-child(even)
{
   background-color: #eee;
}

section.items ul li span.li_right
{
   display: inline-block;
   float: right;
}


div#ad
{
   display: none;
}

div#logo
{
   display: inline-block;
   height: 30px;
   width: 30px;
   overflow: hidden;
   vertical-align: baseline;
}

div#logo img
{
   margin: 0;
   padding: 0;
   height: 30px;
   width: 30px;
}

div#slogan
{
   display: inline-block;
   height: 30px;
   overflow: hidden;
   vertical-align: baseline;

   color: hotpink; 
   font-family: 'Waiting for the Sunrise';
   font-size: 24px;
   line-height: 30px;
   font-weight: bolder;
}


@media (max-width: 767px) {

   /* Force table to not be like tables anymore */
   table, thead, tbody, th, td, tr { 
      display: block;
      box-sizing: border-box;
   }

   thead, thead tr, th {
      display: none;
   }
   
   tr {
      border-top: 1px solid #ccc;
   }
   
   td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px dashed #ccc;
      position: relative;
      padding: 0.3em;
      padding-left: 25%; 
   }
   
   td:last-child {
      border-bottom: 0;
   }
   
   td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 0;
      width: 25%; 
      padding: 0.3em;
      white-space: nowrap;
      color:#AE841A;
   }
   
   /*
   Label the data
   */
   td:before { content: attr(data-header); }
}
