/* BEGIN ALL PAGES */
a
{
   color: #105289;
   text-decoration: none;
   cursor: pointer;
}

ul.clean
{
   list-style: none;
   margin: 0;
   padding: 0;
}

span.time
{
   color: #666666;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default */

/* hide view controlled elements */
[class*='v_user']
{
   display: none;
}

header#page_header, nav#page_navbar, section#page_body, footer#page_footer
{
   clear: both;
}
header#page_header, section#page_body
{
   overflow: hidden;
   background-color: white;
}

header#page_header span
{
   display: inline-block;
   vertical-align: bottom;
}

.even_odd_parent > *:nth-child(even)
{
   background-color: #eee;
}

div#ad
{
   display: none;
}

a#goTop
{
   position: fixed;
   bottom:-100px;
   right:10px;
}

/* BEGIN BBCODE EDITOR */
.bbcode_editor
{
   padding: 0.5em 0;
}
.bbcode_editor fieldset
{
   margin-bottom: 0.5em;
}
/* END BBCODE EDITOR */

/* BEGIN RESPONSIVE TABLE */
/*
tr
{
   border-top: 1px solid #ccc;
}

tr:last-child
{
   border-bottom: 1px solid #ccc;
}
*/

th, td
{
   padding: 0.3em;
}

@media (max-width: 767px) {

   /* Force table to not be like tables anymore */
   table, caption, thead, tbody, th, td, tr {
      display: block;
      box-sizing: border-box;
   }

   thead, thead tr, th {
      display: none;
   }

   td {
      /* Behave  like a "row" */
      border: none;
      /*border-bottom: 1px dashed #ccc;*/
      position: relative;
      padding-left: 25%;
   }

   td:first-child
   {
      background: #F0E68C;
   }

   td:last-child {
      border-bottom: 0;
   }

   td:before {
      content: attr(data-header);
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 0;
      left: 0;
      width: 25%;
      padding: 0.3em;
      white-space: nowrap;
      color: #006666;
   }

   td:empty {
      display: none;
   }
}
/* END RESPONSIVE TABLE */

/* BEGIN RESPONSIVE FORM */
form fieldset
{
   display: block;
   clear: both;
   margin: 0;
   padding: 0.2em;
   border: 0;
}

form fieldset .label
{
   display: block;
   color: #006666;
}

textarea, input[type="text"], input[type='url'], input[type='email'], input[type='password']{
   /* box-sizing: border-box; */
   width: 100%;
   max-width: 250px;
}

textarea {
   max-width: 600px;
   height: 150px;
}
/* END RESPONSIVE FORM */

/* BEGIN NAV */
nav.breadcrumb, nav.navbar
{
   margin: 0.5em 0;
}

nav.breadcrumb a:after
{
   content: '\3E';
   margin: 0 0.3em;
}

nav.navbar a
{
   display: inline-block;
   padding: 0.2em 0.5em;
   background-color: #FFEF99;
   border-right: 1px solid #CCAC00;
}

nav.navbar a.active
{
   background-color: gold;
}
/* END NAV */

/* BEGIN BUTTON */
button, a.button {
   background-color:gold;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #f2ab1e;
   display:inline-block;
   color:#105389;
   font-weight:normal;
   font-style:normal;
   line-height:1.5em;
   box-sizing: content-box;
   height:1.5em;
   padding: 1px 6px;
   text-decoration:none;
   text-align:center;
}

button:hover, button:active,
a.button:hover, a.button:active {
   background-color: #f2ab1e;
}

button:disabled
{
   background-color: lightgray;
}
/* This button was generated using CSSButtonGenerator.com */
/* END BUTTON */

/* BEGIN PAGER */
header.content_header
{
   overflow: hidden;
}

nav.pager {
   float: right;
}

nav.pager a
{
   display: inline-block;
   vertical-align: bottom;
   text-align: center;
   padding: 0.3em 0.6em;
}


nav.pager a.active
{
   background-color: gold;
}
/* END PAGER */

/* BEGIN TAB NAVIGATION */
ul.tabs
{
   border-bottom: 1px solid #BBBBBB;
   border-collapse: collapse;
   height: auto;
   line-height: normal;
   list-style: none outside none;
   margin: 5px;
   padding: 0 0 0 1em;
   white-space: nowrap;
}

ul.tabs li
{
   display: inline;
   background-color: #DDDDDD;
   border-color: #BBBBBB;
   border-style: solid;
   border-width: 1px;
   margin: 0 2px;
}
ul.tabs li:hover {
   background-color: #EEEEEE;
   border-color: #CCCCCC;
   border-bottom-color: #EEEEEE;
}

ul.tabs li.active
{
   background-color: #FFFFFF;
   border-color: #BBBBBB #BBBBBB #FFFFFF;
   border-style: solid;
   border-width: 1px;
}

ul.tabs li a {
   height: auto;
   margin-right: 0.5em; /* LTR */
   padding: 0 1em;
   text-decoration: none;
}


ul.tabs li.active a {
   color: #000000;
}

/* END TAB NAVIGATION */

#copyright
{
   text-align: center;
   padding: 0.5em;
   font-size: 0.928em;
}

/* BEGIN QUOTE BLOCK */
blockquote
{
   margin: 0.5em;
   padding: 2rem 0.2rem 0.2rem 0.5rem;
   position: relative;
   color: #454545;
   border-left: 1px solid #c76c0c;
   box-shadow: 2px 2px 15px #ccc;
}

blockquote:before
{
   content: attr(data-author);
   display: block;
   position: absolute;
   top: 0;
   left: 0.5em;
   line-height: 2em;
   color: #454545;
   font-weight: bold;
}
/* END QUOTE BLOCK */


/* BEGIN IFRAME */
iframe
{
   display: block;
   border: 0;
}

iframe.youtube,
iframe.googlemap
{
   width: 100%;
   height: 60%;
   min-height: 300px;
}
/* END IFRAME */

/* END ALL PAGES */

/* BEGIN HOME PAGE */
div.image_slider
{
   position: relative;
   background-size: cover;
   background-position-y: center;
}

div.image_slider > a
{
   display: block;
   position: relative;
   box-sizing: border-box;
   width: 100%;
   height: 0;
   padding-bottom: 30%;
   background-size: cover;
   background-position-y: center;
}
div.image_slider > a span
{
   display: block;
   box-sizing: border-box;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 0.2em;
   z-index: 10;
   background-color: #000;
   opacity: 0.7;
   color: #FFF;
   overflow: hidden;
   text-align: center;
   white-space: nowrap;
}

div.google_ad
{
   display: none;
}

section.items header
{
   margin: 0;
   padding: 3px 4px;
   background-color: #7fbdef;
   font-weight: normal;
}

section.items ul {
   list-style: none;
}

section.items ul,
section.items ul li {
   margin: 0;
   padding: 0;
   display: flex;
}

section.items ul {
   flex-flow: column nowrap;
}

section.items ul li {
   flex-flow: row nowrap;
   justify-content: space-between;
}

section.items ul li > * {
   padding: 2px 3px 1px;
   white-space: nowrap;
}

section.items ul li > a {
   overflow: hidden;
   text-overflow: ellipsis;
   margin-left: 5px;
}

section.items ul li > span {
   margin-right: 5px;
}

section.home_hot_nodes ul li:nth-child(1) > span
{
   background-color: #FF0000;
}

section.home_hot_nodes ul li:nth-child(2) > span
{
   background-color: #FF3300;
}

section.home_hot_nodes ul li:nth-child(3) > span
{
   background-color: #FF6600;
}

section.home_hot_nodes ul li:nth-child(4) > span
{
   background-color: #FF9900;
}

section.home_hot_nodes ul li:nth-child(5) > span
{
   background-color: #FFCC00;
}

section.home_hot_nodes ul li:nth-child(6) > span
{
   background-color: #FFFF00;
}

section.home_activities
{
   display: none;
}

#site_stat
{
   padding: 0.5em 0;
}

#site_stat > div
{
   padding: 0.2em;
}

#site_stat > div:nth-child(odd)
{
   background-color: #eeeeee;
}

#site_stat span:not(.ajax_alexa)
{
   color: #105289;
}
/* END HOME PAGE */


/* BEGIN FORUM TOPIC LIST PAGE */
/* only show first column */
table.forum-topics tr > *:first-child
{
   display: inline-block;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
   vertical-align: bottom;
   padding: 0.3em;
   background: transparent;
   border: 0;
}

table.forum-topics tr > *:first-child:before
{
   content: '\263A';
   display: inline-block;
   position: relative;
   width: auto;
   color: purple;
   padding: 0 0.2em;
   font-size: 1.2em;
}

table.forum-topics tr.topic-sticky > *:first-child:before
{
   color: black;
}

table.forum-topics tr > *:nth-child(2),
table.forum-topics tr > *:nth-child(3),
table.forum-topics tr > *:nth-child(4)
{
   display: none;
}
/* END FORUM TOPIC LIST PAGE */

/* BEGIN ACTIVITY LIST PAGE */
section.activities a.activity_before, section.activities a.activity_now, section.activities a.activity_future
{
   display: block;
   padding: 0.2em 0.5em;
}
section.activities a.activity_before:before, section.activities a.activity_now:before, section.activities a.activity_future:before
{
   content: attr(data-before);
   display: inline-block;
   margin-right: 0.5em;
}

section.activities a.activity_now:before
{
   background-color: greenyellow;
}

section.activities a.activity_future:before
{
   background-color: gold;
}
/* END ACTIVITY LIST PAGE */

/* BEGIN YP BCARD */
.bcard
{
   margin-top: 0.5em;
   border: 1px solid #006666;
}
.bcard header
{
   background-color: gold;
   text-align: center;
   padding: 0.2em;
}

.bcard li
{
   position: relative;
   padding: 0.1em;
   padding-left: 5em;
}

.bcard li:before
{
   content: attr(data-before);
   display: inline-block;
   position: absolute;
   left: 0;
   width: 4.5em;
   text-align: right;
   padding-right: 0.5em;
   color: #006666;
}

.bcard footer
{
   text-align: right;
   font-size: 0.929em;
   color: gray;
}
/* END YP BCARD */

/* BEGIN FORUM TOPIC NODE */
.author_panel
{
   display: none;
}

article > *
{
   padding: 0.2em 0.4em;
   overflow: hidden;
}

article header
{
   background-color: #FFEBCD;
}

article header .city
{
   color: purple;
}

article header .comment_num
{
   display: inline-block;
   float: right;
}

article .article_content .attach_images figure
{
   margin: 0;
   padding: 0;
}

article .article_content .attach_images figure img,
article .article_content img.bb_image
{
   display: inline-block;
   vertical-align: top;
   width: 100%;
}

article .article_content .attach_images figure figcaption
{
   display: block;
   text-align: center;
   background: gold;
   padding: 0.2em;
}

article footer
{
   overflow: hidden;
}
article footer .actions
{
   display: inline-block;
   float: right;
}
/* END FORUM TOPIC NODE */

/* BEGIN PAGE HEADER AD */
#page_header_ad
{
   display: none;
}
/* END PAGE HEADER AD */
