/* Small devices (tablets, 768px) and up */
@media (min-width: 768px)
{
   /* BEGIN ALL PAGES */
   body
   {
      /* Use a 14px base font size with a 18px line height */
      font-size: 0.875em; /* 16px x .875 = 14px */
      line-height: 1.286em; /* 14px x 1.286 = 18px */
   }

   div#logo
   {
      height: 60px;
      width: 60px;
   }

   div#logo img
   {
      height: 60px;
      width: 60px;
   }

   /* BEGIN RESPONSIVE TABLE */
   table
   {
      width: 100%;
      table-layout: fixed;
   }

   thead
   {
      background: #7fbdef;
   }
   /* END RESPONSIVE TABLE */

   /* BEGIN RESPONSIVE FORM */
   form fieldset
   {
      box-sizing: border-box;
      padding-left: 20%;
      position: relative;
   }

   form fieldset .label
   {
      box-sizing: border-box;
      width: 20%;
      text-align: right;      
      padding: 0.2em 0.5em 0.2em 0.2em;
      position:absolute;
      left:0;
      top:0;
      line-height: 23px;
   }

   textarea
   { 
      box-sizing: border-box;
      width: 600px;
      height: 450px;
   }
   /* END RESPONSIVE FORM */

   /* END ALL PAGES */

   /* BEGIN HOME PAGE */
   div.image_slider
   {
      vertical-align: top;
      display: inline-block;
      width: -moz-calc(100% - 300px);
      width: -webkit-calc(100% - 300px);
      width: -o-calc(100% - 300px);
      width: calc(100% - 300px);
      height: 250px;
   }

   div.image_slider > a
   {
      padding-bottom: 250px;
   }

   div.google_ad
   {
      display: inline-block;
      width: 300px;
      height: 250px;
      overflow: hidden;
      vertical-align: top;
   }

   section.items
   {
      vertical-align: top;
      display: inline-block;
      width: 50%;
   }
   /* END HOME PAGE */

   /* BEGIN FORUM TOPIC LIST PAGE */
   /* only show first 2 columns */
   table.forum-topics td 
   {
      display: table-cell;
      border: none;
   }

   table.forum-topics tr > *:first-child
   {
      display: table-cell;
      width: 60%;
      overflow: hidden;
   }

   table.forum-topics tr > *:first-child:before 
   {
      display: none;
   }

   table.forum-topics tr.topic-sticky > *:first-child:before
   {
      display: inline-block;
      content: '置顶';
      padding: 0.3em;
      padding-left: 0;
   }

   table.forum-topics tr > *:nth-child(2)
   {
      display: table-cell;
      width: 40%;
   }
   /* END FORUM TOPIC LIST PAGE */

   /* BEGIN YP BCARD */
   .bcard
   {
      display: inline-block;
      width: 49%;
      vertical-align: top;
   }
   /* END YP BCARD */

   /* BEGIN USER INFO */
   table.user_topics
   {
      width:49%;
      float: left;
      margin-right: 1%;
   }

   table.user_topics tr > *:nth-child(1)
   {
      width: 70%;
      white-space: nowrap;
      overflow: hidden;
   }
   table.user_topics tr > *:nth-child(2)
   {
      width: 30%;
   }
   /* END USER INFO */

   /* BEGIN PM LIST */
   table.pm_list tr > *:first-child
   {
      width: 70%;
      padding: 0 0.5em;
   }
   table.pm_list tr > *:not(:first-child)
   {
      width: 15%;
   }
   /* END PM LIST */

   /* BEGIN EDITOR FILELIST */
   #file_list tr > *:nth-child(1)
   {
      width: 25%;
      padding: 0 0.5em;
   }
   #file_list tr > *:nth-child(2)
   {
      width: 65%;
      padding: 0 0.5em;
   }
   #file_list tr > *:nth-child(3)
   {
      width: 10%;
      padding: 0 0.5em;
   }
   /* END EDITOR FILELIST */

   /* BEGIN FORUM TOPIC NODE */
   .author_panel
   {
      display: none;
   }

   article .article_content .attach_images figure
   {
      display: inline-block;
      vertical-align: top;
   }

   article .article_content .attach_images figure img
   {
      display: inline-block;
      width: auto;
   }
   /* END FORUM TOPIC NODE */

   /* BEGIN PAGE HEADER AD */
   div#logo_div
   {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: white;
   }

   #page_header
   {
      position: relative;
      overflow: hidden;
   }

   #page_header_ad
   {
      display: block;
      width: 100%;
      white-space: nowrap;
   }
   #page_header_ad a
   {
      display: inline-block;
      vertical-align: bottom;
      width: 38.75%;
   }
   #page_header_ad a:last-child
   {
      width: 22.5%;
   }
   #page_header_ad a img
   {
      display: inline-block;
      vertical-align: bottom;
      width: 100%;
   }
   /* END PAGE HEADER AD */
}
