/*
 * Medium devices (desktops, 1024px) and up
 * width: (1024 - 28) px scrollbar, 3-column layout
 */
@media (min-width: 996px)
{
   /* BEGIN ALL PAGES */
   div#page
   {
      width: 996px;
      margin: auto;
   }
   /* END ALL PAGES */

   /* BEGIN HOME PAGE */
   section.items
   {
      width: 33.33%;
      width: calc(100%/3);
   }

   div#home_images
   {
      display: inline-block;
      vertical-align: top;
      width: 696px;
   }

   section.home_activities
   {
      display: inline-block;
      width: 300px;
   }

   section.home_activities header
   {
      padding: 1px 4px;
      text-align: center;
   }

   section.home_activities .activity_now span
   {
      background-color: greenyellow;
   }

   section.home_activities .activity_future span
   {
      background-color: gold;
   }
   /* END HOME PAGE */

   /* BEGIN FORUM TOPIC LIST PAGE */
   /* only show first 3 columns */
   table.forum-topics td:first-child
   {
      width: 40%;
   }

   table.forum-topics tr > *:nth-child(2),
   table.forum-topics tr > *:nth-child(3)
   {
      display: table-cell;
      width: 30%;
   }
   /* END FORUM TOPIC LIST PAGE */

}
