/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 0;
}
.markItUp .markItUpButton2 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -16px;
}
.markItUp .markItUpButton3 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -32px;
}
.markItUp .markItUpButton4 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -48px;
}
.markItUp .markItUpButton5 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -64px;
}
.markItUp .colors a {
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -80px;
}
.markItUp .bgcolors a {
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -96px;
}

.markItUp .markItUpButton8 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -112px;
}
.markItUp .markItUpButton9 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -128px;
}

.markItUp .markItUpButton10 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -144px;
}
.markItUp .markItUpButton11 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -160px;
}
.markItUp .markItUpButton12 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -176px;
}

.markItUp .markItUpButton13 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -192px;
}
.markItUp .markItUpButton14 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -208px;
}

.markItUp .markItUpButton15 a	{
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -224px;
}

.markItUp .markItUpButton16 a {
   background-image:url("/themes/roselife/images/all-icons.png");
   background-position:0 -240px;
}

.markItUp .colors ul,
.markItUp .bgcolors ul {
   width:66px;
   padding:1px;	
}
.markItUp .colors  li,
.markItUp .bgcolors  li {
   border:1px solid white;
   width:20px;
   height:20px;
   overflow:hidden;
   padding:0px;
   margin:0px;
   float:left;
}
.markItUp .colors ul a,
.markItUp .bgcolors ul a {
   margin:0px;
   width:20px;
   height:20px;
}
.markItUp .colors ul a:hover,
.markItUp .bgcolors ul a:hover {
   border: 1px solid black;
}

.markItUp .colors .col1-1 a,
.markItUp .bgcolors .col1-1 a {
   background:yellow;
}
.markItUp .colors .col1-2 a,
.markItUp .bgcolors .col1-2 a {
   background:orange;
}
.markItUp .colors .col1-3 a,
.markItUp .bgcolors .col1-3 a {
   background:red;
}

.markItUp .colors .col2-1 a,
.markItUp .bgcolors .col2-1 a {
   background:blue;
}
.markItUp .colors .col2-2 a,
.markItUp .bgcolors .col2-2 a {
   background:purple;
}
.markItUp .colors .col2-3 a,
.markItUp .bgcolors .col2-3 a {
   background:green;
}

.markItUp .colors .col3-1 a,
.markItUp .bgcolors .col3-1 a {
   background:white;
}
.markItUp .colors .col3-2 a,
.markItUp .bgcolors .col3-2 a {
   background:gray;
}
.markItUp .colors .col3-3 a,
.markItUp .bgcolors .col3-3 a {
   background:black;
}
