/* Small devices (tablets, 768px) and up */
@media (min-width: 768px)
{
   nav.hidden{
      display: block;
   }

   nav#page_navbar
   {
      display: block;
   }

   .sf-menu
   {
      width: auto;
   }
   /* fix container height for floating children */
   .sf-menu:after { 
      content: '';
      display: block; 
      height: 0; 
      clear: both;
   }

   .sf-menu > li {
      float: left;
      width: auto;
      border: 0;
      border-right: 1px solid #8ACC26;
   }

   .sf-menu li ul
   {
      min-width: 9em;
   }

   .sf-menu > li > ul
   {
      top: 100%;
      left: 0;
   }

   .sf-menu > li > .sf-with-ul:after
   {
      right: 0.5em;
      margin-top: -3px;
      border-color: transparent;
      border-top-color: #8ACC26;
   }

   .sf-arrows > li > .sf-with-ul:focus:after,
   .sf-arrows > li:hover > .sf-with-ul:after,
   .sf-arrows > .sfHover > .sf-with-ul:after 
   {
      border-color: transparent;
      border-top-color: white;
   }
}
