/* BASIC */
a {
  text-decoration: none;
  color: #2962ff;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

.even_odd_parent > *:nth-child(even) {
  background-color: #eee;
}

/* END BASIC */
#page {
  width: 100%;
}

@media (min-width: 768px) {
  .attach_images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .attach_images img {
    max-width: 300px;
  }

  .attach_images figcaption {
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}

/* BEGIN RESPONSIVE TABLE */
th,
td {
  padding: 0.3rem;
}

@media (max-width: 767px) {
  /* Force table to not be like tables anymore */
  table,
  caption,
  tbody,
  tr,
  td {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  thead,
  thead tr,
  th {
    display: none;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    /*border-bottom: 1px dashed #ccc;*/
    position: relative;
    padding-left: 25%;
  }

  td:first-child {
    background: #f0e68c;
  }

  td:last-child {
    border-bottom: 0;
  }

  td:before {
    content: attr(data-header);
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 0;
    width: 25%;
    padding: 0.3em;
    white-space: nowrap;
    color: #006666;
  }

  td:empty {
    display: none;
  }
}
@media (min-width: 768px) {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table thead {
    background: #7fbdef;
  }
}
/* END RESPONSIVE TABLE */
/* BEGIN RESPONSIVE FORM */
fieldset {
  display: block;
  clear: both;
  margin: 0;
  padding: 0.3rem;
  border: 0;
}
fieldset label,
fieldset .label {
  display: block;
  color: #006666;
}
fieldset textarea,
fieldset input[type="text"],
fieldset input[type="url"],
fieldset input[type="email"],
fieldset input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  max-width: 250px;
}
fieldset textarea {
  max-width: 600px;
  height: 150px;
}

button {
  margin-right: 0.3rem;
}

@media (min-width: 768px) {
  form fieldset {
    padding-left: 30%;
    position: relative;
    line-height: 1.5rem;
  }
  form fieldset label,
  form fieldset .label {
    box-sizing: border-box;
    width: 30%;
    text-align: right;
    padding: 0.5rem 0.5rem 0.3rem 0.3rem;
    position: absolute;
    left: 0;
    top: 0;
  }
  form fieldset textarea {
    height: 300px;
  }
}
/* END RESPONSIVE FORM */
/* BEGIN BUTTON */
button,
.button {
  background-color: gold;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #f2ab1e;
  display: inline-block;
  color: #105389;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5rem;
  box-sizing: content-box;
  height: 1.5rem;
  padding: 1px 6px;
  text-decoration: none;
  text-align: center;
}

button:hover,
button:active,
.button:hover,
.button:active {
  background-color: #f2ab1e;
}

button:disabled {
  background-color: lightgray;
}

/* This button was generated using CSSButtonGenerator.com */
/* END BUTTON */
/* TOPIC */
article.topic section > * {
  margin: 0;
  padding: 0.2rem 0.4rem;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
}
article.topic header {
  background-color: #ffebcd;
}
article.topic button {
  display: flex;
  align-items: center;
}

/* END TOPIC */

main {
  overflow: hidden;
  background-color: #fff;
}

#app_main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

#app_main > * {
  width: 100%;
}

.avatar_circle {
  width: 128px;
  height: 128px;
  line-height: 128px;
  border-radius: 50%;
  white-space: nowrap;
  overflow: hidden;
  background: white;
  color: black;
  border: 1px solid gray;
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}

/* NAVBAR */
#menu_icon {
  z-index: 999;
  position: fixed;
  right: 1rem;
  bottom: 25vh;
  color: #2962ff;
  background-color: gold;
  border: 1px solid #ccac00;
  border-radius: 6px;
  padding: 1px;
  cursor: pointer;
}

#menu_icon:hover {
  background-color: #ccac00;
}

nav#menu {
  z-index: 999;
  position: fixed;
  right: 1rem;
  bottom: calc(2rem + 25vh);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  margin: 0;
}

nav#menu.hidden {
  display: none;
}

nav#menu div {
  display: flex;
  flex-flow: column wrap;
}

nav.navbar a {
  padding: 0.125rem 0.5rem;
  background-color: gold;
  border-right: 1px solid #ccac00;
  border-bottom: 1px solid #ccac00;
}

nav.navbar a.active,
nav.navbar a:hover {
  background-color: #ccac00;
}

@media (min-width: 768px) {
  #menu_icon {
    display: none;
  }

  nav#menu {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
    justify-content: space-between;
    background-color: #eee;
  }

  nav#menu.hidden {
    display: flex;
  }

  nav#menu div {
    flex-flow: row wrap;
  }
}
/* END NAVBAR */
/* PM LIST */
ul.pm_list,
ul.bookmarks {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.pm_list > li {
  padding: 0.125rem 0.3rem;
}

ul.pm_list > li {
  display: flex;
}
ul.pm_list > li:first-child,
ul.pm_list > li:last-child {
  align-items: center;
}

ul.pm_list > li > span:first-child {
  flex-grow: 1;
}

ul.pm_list > li > span {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  min-width: 130px;
}

ul.pm_list > li > span > a {
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.pm_list > li > span:first-child svg:first-child {
  margin-right: 0.3rem;
}

@media (max-width: 767px) {
  ul.pm_list > li:not(:first-child):not(:last-child) {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  ul.pm_list > li > span {
    min-width: 150px;
  }
  ul.pm_list > li > span:first-child {
    width: 100%;
  }
}

ul.bookmarks > li {
  padding: 0.125rem 0.3rem;
  display: flex;
  align-items: center;
}

ul.bookmarks > li > svg:first-child {
  margin-right: 0.3rem;
}

/* END PM LIST */
/* AVATAR TEXT */
.avatar_circle {
  width: 128px;
  height: 128px;
  line-height: 128px;
  border-radius: 50%;
  white-space: nowrap;
  overflow: hidden;
  background: white;
  color: black;
  border: 1px solid gray;
  text-align: center;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
}
/* AVATAR TEXT */
/* USER DT DD */
.user_info {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 600px;
  margin: 0.5rem;
}

.user_info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user_info label {
  display: inline-block;
  width: 80px;
  padding: 1px 0.5rem;
  clear: left;
  text-align: right;
  color: #29447e;
}

.user_info figcaption {
  text-align: center;
}

/* END USER DT DD */
/* CROPPER */
.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}
/* END CROPPER */
/* USER TOPICS */
ul.user_topics {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 600px;
}
ul.user_topics > li {
  display: grid;
  padding: 0.3rem;
}

@media (min-width: 768px) {
  ul.user_topics {
    margin: 0.5rem;
  }
  ul.user_topics > li {
    grid-template-columns: 70fr 30fr;
  }
}

ul.user_topics > li > a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* END USER TOPICS */

/* IMAGE SLIDER */
@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* END IMAGE SLIDER */

/*# sourceMappingURL=app.css.map */
