/* Small devices (tablets, 768px) and up */
@media (min-width: 768px)
{
   /* BEGIN IFRAME */
   iframe.youtube
   {
      width: 560px;
      height: 315px;
   }

   iframe.googlemap
   {
      width: 500px;
      height: 400px;
   }
   /* END IFRAME */

   /* END ALL PAGES */

   /* BEGIN HOME PAGE */
   div.image_slider
   {
      height: 250px;
      width: calc(100% - 300px);
   }

   div.image_slider > a
   {
      padding-bottom: 250px;
   }

   .home_items
   {
      display: inline-block;
      vertical-align: top;
      width: 50%;
   }

   .home_items_sm {
      display: inline-block;
      width: 300px;
      height: 250px;
      overflow: hidden;
   }

   #site_stat section
   {
      display: inline-block;
      width: 50%;
   }
   /* END HOME PAGE */

   /* BEGIN FORUM TOPIC NODE */
   div.forum_post
   {
      display: block;
      padding-left: 140px;
      position: relative;
      clear: both;
      overflow: hidden;
      border-top: 1px solid #ccc;
   }

   aside.author_panel
   {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 140px;
      height: 250px;
      padding-top: 0.5em;
      padding-left: 10px;
   }

   div.forum_post article
   {
      min-height: 250px;
      position: relative;
      overflow: hidden;
      padding-bottom: 2em;
   }

   div.forum_post article footer
   {
      position: absolute;
      bottom: 0;
      right: 0;
   }

   article .article_content .attach_images figure
   {
      display: inline-block;
      vertical-align: top;
   }

   article .article_content .attach_images figure img,
   article .article_content img.bb_image
   {
      width: auto;
   }
   /* END FORUM TOPIC NODE */

   /* BEGIN PAGE HEADER AD */
   #page_header
   {
      position: relative;
      overflow: hidden;
   }

   #page_header_ad
   {
      display: flex;
      justify-content: flex-end;
      min-height: 48px;
   }

   #page_header_ad a
   {
      width: 50%;
      max-width: 468px;
   }

   #page_header_ad a img
   {
      display: block;
      width: 100%;
   }
   /* END PAGE HEADER AD */
}
