/* BEGIN ALL PAGES */
small,
span.time,
time
{
   color: #666666;
   font-size: 0.875rem;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default */

/* hide view controlled elements */
[class*='v_user']
{
   display: none;
}

header#page_header, nav#page_navbar, section#page_body, footer#page_footer
{
   clear: both;
}
header#page_header, section#page_body
{
   overflow: hidden;
   background-color: white;
}

div#ad
{
   display: none;
}

/* BEGIN NAV */
nav.breadcrumb
{
   margin: 0.5em 0;
}

nav.breadcrumb a:after
{
   content: '\3E';
   margin: 0 0.3em;
}

/* BEGIN PAGER */
header.content_header
{
   overflow: hidden;
}

nav.pager {
   float: right;
}

nav.pager a
{
   display: inline-block;
   vertical-align: bottom;
   text-align: center;
   padding: 0.3em 0.6em;
}


nav.pager a.active
{
   background-color: gold;
}
/* END PAGER */

/* BEGIN TAB NAVIGATION */
ul.tabs
{
   border-bottom: 1px solid #BBBBBB;
   border-collapse: collapse;
   height: auto;
   line-height: normal;
   list-style: none outside none;
   margin: 5px;
   padding: 0 0 0 1em;
   white-space: nowrap;
}

ul.tabs li
{
   display: inline;
   background-color: #DDDDDD;
   border-color: #BBBBBB;
   border-style: solid;
   border-width: 1px;
   margin: 0 2px;
}
ul.tabs li:hover {
   background-color: #EEEEEE;
   border-color: #CCCCCC;
   border-bottom-color: #EEEEEE;
}

ul.tabs li.active
{
   background-color: #FFFFFF;
   border-color: #BBBBBB #BBBBBB #FFFFFF;
   border-style: solid;
   border-width: 1px;
}

ul.tabs li a {
   height: auto;
   margin-right: 0.5em; /* LTR */
   padding: 0 1em;
   text-decoration: none;
}


ul.tabs li.active a {
   color: #000000;
}

/* END TAB NAVIGATION */

#copyright
{
   text-align: center;
   padding: 0.5em;
   font-size: 0.928em;
}

/* BEGIN QUOTE BLOCK */
blockquote
{
   margin: 0.5em;
   padding: 2rem 0.2rem 0.2rem 0.5rem;
   position: relative;
   color: #454545;
   border-left: 1px solid #c76c0c;
   box-shadow: 2px 2px 15px #ccc;
   border-radius: 0.5rem;
}

blockquote:before
{
   content: attr(data-author);
   display: block;
   position: absolute;
   top: 0;
   left: 0.5em;
   line-height: 2em;
   color: #454545;
   font-weight: bold;
}
/* END QUOTE BLOCK */


/* BEGIN IFRAME */
iframe
{
   display: block;
   border: 0;
}

iframe.youtube,
iframe.googlemap
{
   width: 100%;
   height: 60%;
   min-height: 300px;
}
/* END IFRAME */

/* END ALL PAGES */

/* BEGIN HOME PAGE */
div.image_slider
{
   background-size: cover;
   background-position-y: center;
   width: 100%;
}

div.image_slider > a
{
   display: block;
   position: relative;
   box-sizing: border-box;
   width: 100%;
   height: 0;
   padding-bottom: 30%;
   background-size: cover;
   background-position-y: center;
}
div.image_slider > a span
{
   display: block;
   box-sizing: border-box;
   width: 100%;
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 0.2em;
   z-index: 10;
   background-color: #000;
   opacity: 0.7;
   color: #FFF;
   overflow: hidden;
   text-align: center;
   white-space: nowrap;
}

.home_items {
   width: 100%;
}

.home_items header
{
   margin: 0;
   padding: 3px 4px;
   background-color: #7fbdef;
   font-weight: normal;
}

.home_items > div,
.home_items > div > div {
   display: flex;
}

.home_items > div {
   flex-direction: column;
}

.home_items > div > div {
   justify-content: space-between;
}

.home_items > div > div > * {
   padding: 2px 3px 1px;
   white-space: nowrap;
}

.home_items > div > div > a {
   overflow: hidden;
   text-overflow: ellipsis;
   margin-left: 5px;
}

.home_items > div > div > span {
   margin-right: 5px;
}

.home_items_sm,
.home_items_md {
   display: none;
}

#site_stat
{
   padding: 0.5em 0;
}

#site_stat > div
{
   padding: 0.2em;
}

#site_stat > div:nth-child(odd)
{
   background-color: #eeeeee;
}

#site_stat span:not(.ajax_alexa)
{
   color: #105289;
}
/* END HOME PAGE */

/* BEGIN ACTIVITY LIST PAGE */
section.activities a.activity_before, section.activities a.activity_now, section.activities a.activity_future
{
   display: block;
   padding: 0.2em 0.5em;
}
section.activities a.activity_before:before, section.activities a.activity_now:before, section.activities a.activity_future:before
{
   content: attr(data-before);
   display: inline-block;
   margin-right: 0.5em;
}

section.activities a.activity_now:before
{
   background-color: greenyellow;
}

section.activities a.activity_future:before
{
   background-color: gold;
}
/* END ACTIVITY LIST PAGE */

/* BEGIN FORUM TOPIC NODE */

article > *
{
   padding: 0.25rem;
   overflow: hidden;
}

article header > :not(:last-child)
{
   margin-right: 0.25rem;
}

article header .city
{
   color: purple;
}

article .article_content .attach_images figure
{
   margin: 0;
   padding: 0;
}

article .article_content .attach_images figure img,
article .article_content img.bb_image
{
   display: inline-block;
   vertical-align: top;
   width: 100%;
}

article .article_content .attach_images figure figcaption
{
   display: block;
   text-align: center;
   background: gold;
   padding: 0.2em;
}

article footer
{
   overflow: hidden;
}
article footer .actions
{
   float: right;
}
/* END FORUM TOPIC NODE */

/* BEGIN PAGE HEADER AD */
#page_header_ad
{
   display: none;
}
/* END PAGE HEADER AD */
