/*
 * Medium devices (desktops, 1024px) and up
 * width: (1024 - 28) px scrollbar, 3-column layout
 */
@media (min-width: 996px) {
  /* BEGIN ALL PAGES */
  div#page {
    width: 996px;
    margin: auto;
  }
  /* END ALL PAGES */

  /* BEGIN HOME PAGE */
  .home_items {
    width: 33.33%;
    width: calc(100% / 3);
  }

  .home_items_md,
  .home_items_sm_down_bottom {
    display: inline-block;
    width: 300px;
    height: 250px;
    overflow: hidden;
  }

  div.image_slider {
    width: calc(100% - 600px);
  }

  .home_items_sm_down_bottom header {
    padding: 0 4px;
    text-align: center;
  }
  /* END HOME PAGE */
}

@media (max-width: 995px) {
  .home_items_sm_down_bottom {
    order: 99;
  }
}
