/* BASIC */
/* height */
html, #navbar {
  height: 100%; }

/* font */
html {
  color: #333;
  line-height: 1.5; }

a {
  text-decoration: none;
  color: #2962FF; }

/* END BASIC */
/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  max-width: 270px;
  display: none;
  background: #E6E6E6;
  border-right: 1px solid #9a9a9a; }
  #navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    max-width: 270px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #E6E6E6; }
    #navbar ul ul {
      display: none; }
    #navbar ul a, #navbar ul span {
      display: block;
      padding: 0.5rem;
      text-align: center;
      background-color: #E6E6E6;
      border-bottom: 1px solid #cdcdcd;
      cursor: pointer; }
    #navbar ul a:hover, #navbar ul span:hover {
      background-color: white; }
    #navbar ul span::before {
      display: inline-block;
      float: left;
      content: '<'; }
    #navbar ul span.back::before {
      display: inline-block;
      float: right;
      content: '>'; }
  #navbar ul.overlay {
    overflow-y: hidden;
    /* label box width = li span height = ( line-height + 2 * padding ) */ }
    #navbar ul.overlay > li > span.label {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      box-sizing: border-box;
      width: 2.5rem;
      height: 100%;
      padding: 0.75rem;
      color: #333;
      background-color: #cdcdcd;
      border-left: 1px solid #9a9a9a; }
      #navbar ul.overlay > li > span.label::before {
        content: ""; }

/* END NAVBAR */
#page {
  padding: 3rem; }

/* PAGER */
nav.pager {
  float: right; }
  nav.pager a {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    padding: 0.3em 0.6em;
    cursor: pointer; }
  nav.pager a.active {
    background-color: gold;
    cursor: auto; }

/* END PAGER */
/* NAVTAB */
nav.navtab a {
  display: inline-block;
  padding: 0.2em 0.5em;
  background-color: gold;
  border-right: 1px solid #ccac00; }
nav.navtab a.active {
  background-color: #ccac00; }

/* END NAVTAB */
/* FORM */
fieldset {
  display: block;
  clear: both;
  margin: 0;
  padding: 0.3rem 0;
  border: 0; }
  fieldset label, fieldset .label {
    display: block; }
  fieldset textarea, fieldset input[type="text"], fieldset input[type='url'], fieldset input[type='email'], fieldset input[type='password'] {
    box-sizing: border-box;
    width: 100%;
    max-width: 250px; }
  fieldset textarea {
    max-width: 600px;
    height: 150px; }

button {
  margin-right: 0.3rem; }

/* END FORM */
/* USER DT DD */
dl {
  overflow: hidden; }
  dl > dt, dl > dd, dl > input, dl > span {
    display: block;
    float: left;
    margin: 2px; }
  dl > dt, dl > dd {
    padding: 1px 0.5rem; }
  dl > dt {
    width: 100px;
    clear: left;
    text-align: right;
    color: #29447e; }
  dl > input[type=text], dl > input[type=date], dl > input[type=url] {
    display: block;
    line-height: 1.5rem;
    padding: 0 1em;
    border-radius: 3px;
    outline: none;
    border: 1px solid #69c773;
    background: #FFF; }
  dl > span.buttongroup {
    display: block;
    padding: 0; }
  dl input[type=radio] {
    display: none; }
  dl span.radio {
    display: inline-block;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #69c773;
    background: #FFF; }
    dl span.radio:not(:first-child):not(:last-child) {
      border-radius: 0; }
    dl span.radio:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    dl span.radio:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    dl span.radio label {
      display: inline-block;
      line-height: 1.5rem;
      margin: 0;
      padding: 0 1em; }
  dl span.radio + span.radio {
    margin-left: -1px; }
  dl input[type=radio]:checked + label {
    background: lightgreen; }

/* END USER DT DD */
/* TABLE */
table {
  clear: both; }

/* END TABLE */
/* markx font color */
em.fc-red {
  font-style: normal;
  color: red; }

em.fc-blue {
  font-style: normal;
  color: blue; }

em.fc-green {
  font-style: normal;
  color: green; }

em.bc-red {
  display: inline-block;
  font-style: normal;
  background-color: red; }

em.bc-blue {
  display: inline-block;
  font-style: normal;
  background-color: blue; }

em.bc-green {
  display: inline-block;
  font-style: normal;
  background-color: green; }

/* END markx font color */

/*# sourceMappingURL=app.css.map */
