$font-color: #333;
$bg-color: #e6e6e6;
$bd-color: darken($bg-color, 10%);
$bg-color-active: lighten($bg-color, 10%);
$transform-time: 0.3s;
$line-height: 1.5;

$highlight: gold;
$highlight-active: darken($highlight, 10%);

/* BASIC */
/* height */
html,
#navbar {
  height: 100%;
}

/* font */
html {
  color: $font-color;
  line-height: $line-height;
}

a {
  text-decoration: none;
  color: #2962ff;
}
/* END BASIC */

/* NAVBAR */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  max-width: 270px;
  display: none;
  background: $bg-color;
  border-right: 1px solid darken($bd-color, 20%);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    max-width: 270px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: $bg-color;

    ul {
      display: none;
    }

    a,
    span {
      display: block;
      padding: 0.5rem;
      text-align: center;
      background-color: $bg-color;
      border-bottom: 1px solid $bd-color;
      cursor: pointer;
    }

    a:hover,
    span:hover {
      background-color: lighten($bg-color, 20%);
    }

    span::before {
      float: left;
      content: "<";
    }

    span.back::before {
      float: right;
      content: ">";
    }
  }

  ul.overlay {
    overflow-y: hidden;

    /* label box width = li span height = ( line-height + 2 * padding ) */
    $labelWidth: $line-height + 1rem;

    > li > span.label {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      box-sizing: border-box;
      width: $labelWidth;
      height: 100%;
      padding: ($labelWidth - 1rem) / 2;
      color: $font-color;
      background-color: $bd-color;
      border-left: 1px solid darken($bd-color, 20%);
      &::before {
        content: "";
      }
    }
  }
}
/* END NAVBAR */

#page {
  padding: 3rem;
}

/* markx font color */
li.fc-red a,
em.fc-red {
  font-style: normal;
  color: red;
}
li.fc-blue a,
em.fc-blue {
  font-style: normal;
  color: #0000e3;
}
li.fc-green a,
em.fc-green {
  font-style: normal;
  color: green;
}
li.bc-red a,
em.bc-red {
  display: inline-block;
  font-style: normal;
  color: $font-color;
  background-color: #ff6666;
}
li.bc-blue a,
em.bc-blue {
  display: inline-block;
  font-style: normal;
  color: $font-color;
  background-color: #6397ff;
}
li.bc-green a,
em.bc-green {
  display: inline-block;
  font-style: normal;
  color: $font-color;
  background-color: #66cc66;
}

/* END markx font color */
