$font-color: #333;
$bg-color: #E6E6E6;
$bd-color: darken($bg-color, 10%);
$bg-color-active: lighten($bg-color, 10%);
$transform-time: 0.3s;
$line-height: 1.5;

$highlight: gold;
$highlight-active: darken($highlight, 10%);

/* BASIC */
/* height */
html, #navbar {
   height: 100%;
}

/* font */
html {
   color: $font-color;
   line-height: $line-height;
}

a {
   text-decoration: none;
   color: #2962FF;
}
/* END BASIC */

/* NAVBAR */
#navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 270px;
   max-width: 270px;
   display: none;
   background: $bg-color;
   border-right: 1px solid darken($bd-color, 20%);

   ul {
      margin: 0;
      padding: 0;
      list-style: none;

      position: fixed;
      top: 0;
      left: 0;
      width: 270px;
      max-width: 270px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      background: $bg-color;

      ul {
         display: none;
      }

      a, span {
         display: block;
         padding: 0.5rem;
         text-align: center;
         background-color: $bg-color;
         border-bottom: 1px solid $bd-color;
         cursor: pointer;
      }

      a:hover, span:hover {
         background-color: lighten($bg-color, 20%);
      }

      span::before {
         display: inline-block;
         float: left;
         content: '<';
      }

      span.back::before {
         display: inline-block;
         float: right;
         content: '>';
      }
   }

   ul.overlay {
      overflow-y: hidden;

      /* label box width = li span height = ( line-height + 2 * padding ) */
      $labelWidth: $line-height + 1rem;

      > li > span.label {
         display: block;
         position: absolute;
         top: 0;
         right: 0;
         box-sizing: border-box;
         width: $labelWidth;
         height: 100%;
         padding: ( $labelWidth - 1rem ) / 2;
         color: $font-color;
         background-color: $bd-color;
         border-left: 1px solid darken($bd-color, 20%);
         &::before {
            content: "";
         }
      }
   }
}
/* END NAVBAR */

#page {
   padding: 3rem;
}

/* PAGER */
nav.pager {
   float: right;

   a {
      display: inline-block;
      vertical-align: bottom;
      text-align: center;
      padding: 0.3em 0.6em;
      cursor: pointer;
   }

   a.active   {
      background-color: gold;
      cursor: auto;
   }
}
/* END PAGER */

/* NAVTAB */
nav.navtab {
   a {
      display: inline-block;
      padding: 0.2em 0.5em;
      background-color: $highlight;
      border-right: 1px solid $highlight-active;
   }

   a.active {
      background-color: $highlight-active;
   }
}
/* END NAVTAB */

/* FORM */
form fieldset
{
   display: block;
   clear: both;
   margin: 0;
   padding: 0.3rem 0;
   border: 0;
   label, .label {
      display: block;
   }

   textarea, input[type="text"], input[type='url'], input[type='email'], input[type='password'] {
      box-sizing: border-box;
      width: 100%;
      max-width: 250px;
   }

   textarea {
      max-width: 600px;
      height: 150px;
   }
}
/* END FORM */